/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
 /* @import "$HOME/.config/awesome/theme/sidebar.rasi" */
 @import "$HOME/.config/rofi/launchers/type-1/style-5.rasi"
